[submodule "Dependencies/SwiftyKit"]
	path = vendor/SwiftyKit
	url = git@github.com:JeanCharlesNeboit/SwiftyKit.git
[submodule "SwiftyCI"]
	path = SwiftyCI
	url = git@github.com:JeanCharlesNeboit/SwiftyCI.git
