/*
 https://useyourloaf.com/blog/using-dynamic-type-with-web-views/
 https://useyourloaf.com/blog/supporting-dark-mode-in-wkwebview/
 */

:root {
  color-scheme: light dark;
  --title-color: red;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --title-color: #ff8080;
  }
}

h1 {
    font: -apple-system-headline;
    /*color: var(--title-color);*/
}

body {
    margin: 0 16px 0 16px
}

body, p {
    font: -apple-system-body;
}
